{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <h3 class="round3" style="text-align:center;">Dataset details:</h3>
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> #{{ object.id }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{ oblect.name }}</dd>
                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">{{ object.description }}</dd>
                    <dt class="col-sm-3">Created</dt>
                    <dd class="col-sm-9">{{ object.created }}</dd>
                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9">{{ object.type }}</dd>
                </dl>
            </div>
        </div>
        <br>
        {% if object.tfmodel %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> Related model:
                        <a href="{% url 'tf_model:detail' object.tfmodel.pk %}">
                            <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip"
                                    data-original-title="Show"><i class="fa fa-eye font-14"></i></button>
                        </a></h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.name }}</dd>
                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.details }}</dd>
                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.created }}</dd>
                        <dt class="col-sm-3">Type</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.type }}</dd>
                    </dl>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}