{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

    <div class="ibox">
        <div class="ibox-body text-center">
            <div class="m-t-20">
                <img class="img-circle" src="{% static 'assets/img/admin-avatar.png' %}">
            </div>
            <h5 class="font-strong m-b-10 m-t-10">{{ profile.user.username }}</h5>
            <div class="m-b-20 text-muted">{{ profile.user.email }}</div>
            <div class="profile-social m-b-20">
            </div>
            <div>
            </div>
        </div>
    </div>
{% endblock %}