{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <h3 class="round3" style="text-align:center;">TF Model details:</h3>
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> #{{ object.id }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{ object.name }}</dd>
                    <dt class="col-sm-3">Details</dt>
                    <dd class="col-sm-9">{{ object.details }}</dd>
                    <dt class="col-sm-3">Created</dt>
                    <dd class="col-sm-9">{{ object.created }}</dd>
                    <dt class="col-sm-3">UID</dt>
                    <dd class="col-sm-9">{{ object.uuid }}</dd>
                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9">{{ object.type }}</dd>
                    <dt class="col-sm-3">Dataset</dt>
                    <dd class="col-sm-9">{{ object.dataset }}</dd>

                </dl>
            </div>
        </div>
        <br>
        {% if object.dataset %}
            <div class="ibox">
                <div class="ibox-head">
                    <div class="w-60">
                        <span class="ibox-title">Dataset: {{ object.dataset.name }} </span>
                    </div>
                    <div class="ibox-tools w-20">
                        <a href="{% url 'dataset:detail' object.dataset.pk %}">
                            <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip"
                                    data-original-title="Show"><i class="fa fa-eye font-14"></i></button>
                        </a></h5>
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ object.dataset.name }}</dd>
                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.description }}</dd>
                        <dt class="col-sm-3">Type</dt>
                        <dd class="col-sm-9">{{ object.tfmodel.type }}</dd>
                    </dl>

                </div>
            </div>
        {% endif %}

        <div class="ibox">
            <div class="ibox-head">
                <div class="w-60">
                    <span class="ibox-title">Versions:</span>
                </div>
                <div class="ibox-tools w-10">
                    <a href="{% url 'tf_model:new_version' object.id %}">
                        <button type="button" class="btn btn-success">
                            Add version
                        </button>
                    </a>
                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                </div>
            </div>

            <div class="ibox-body">
                {% for version in object.model_versions.all %}
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="w-60">
                                <span class="ibox-title">#{{ version.name }} files: </span>
                            </div>
                            <div class="ibox-tools w-20">
                                <a href="{% url 'tf_model:new_file' version.id %}">
                                    <button type="button" class="btn btn-success">
                                        Upload new file
                                    </button>
                                </a>
                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                        <div class="ibox-body">
                            {% for file in version.model_files.all %}
                                <div class="card">
                                    <div class="card-body">
                                        <dl class="row">
                                            <dt class="col-sm-3">Title:</dt>
                                            <dd class="col-sm-9">{{ file.name }}</dd>
                                            <dt class="col-sm-3">Name:</dt>
                                            <dd class="col-sm-9">
                                                <a href="{{ file.file.url }}">
                                                    {{ file.file.name }}
                                                </a> ({{ file.file.size|filesizeformat }})
                                            </dd>
                                            <dt class="col-sm-3">UID:</dt>
                                            <dd class="col-sm-9">{{ file.uuid }}</dd>
                                            <dt class="col-sm-3">Original format:</dt>
                                            <dd class="col-sm-9">{{ file.format }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        {#        <div class="row">#}
        {#            <div class="col-md-1 col-xs-1 col-sm-1"></div>#}
        {#            <div class="col-md-8 col-xs-8 col-sm-8">#}
        {#                <h3 class="round3" style="text-align:center;">Versions:</h3>#}
        {#            </div>#}
        {#            <div class="col-md-2 col-xs-1 col-sm-1">#}
        {#                <a href="{% url 'tf_model:new_version' object.id %}">#}
        {#                    <button type="button" class="btn btn-success">#}
        {#                        New Version#}
        {#                    </button>#}
        {#                </a>#}
        {#            </div>#}
        {#        </div>#}
        {#        {% for version in object.model_versions.all %}#}
        {#            <div class="card">#}
        {#                <div class="card-header">#}
        {#                    <h5 class="card-title"> #{{ version.name }}</h5>#}
        {#                </div>#}
        {#                <div class="container">#}
        {#                    <div class="card-body">#}
        {#                        <dl class="row">#}
        {#                            <div class="card">#}
        {#                                <div class="card-header">#}
        {#                                    <div class="container-fluid">#}
        {#                                        <div class="row">#}
        {#                                            <div class="col">#}
        {#                                                <h4 class="round3" style="text-align:center;">Files:</h4>#}
        {#                                            </div>#}
        {#                                            <div class="col">#}
        {#                                                <a href="{% url 'tf_model:new_file' version.id %}">#}
        {#                                                    <button type="button" class="btn btn-success">#}
        {#                                                        Upload new file#}
        {#                                                    </button>#}
        {#                                                </a>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                {% for file in version.model_files.all %}#}
        {#                                    <div class="container m-2">#}
        {#                                        {{ file.name }}#}
        {#                                    </div>#}
        {#                                    <div class="card m-2">#}
        {#                                        <div class="card-body">#}
        {#                                            <dl class="row">#}
        {#                                                <dt class="col-sm-3">Name:</dt>#}
        {#                                                <dd class="col-sm-9">#}
        {#                                                    <a href="{{ file.file.url }}">#}
        {#                                                        {{ file.file.name }}#}
        {#                                                    </a> ({{ file.file.size|filesizeformat }})#}
        {#                                                </dd>#}
        {#                                                <dt class="col-sm-3">UID:</dt>#}
        {#                                                <dd class="col-sm-9">{{ file.uuid }}</dd>#}
        {#                                                <dt class="col-sm-3">Original format:</dt>#}
        {#                                                <dd class="col-sm-9">{{ file.format }}</dd>#}
        {#                                            </dl>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                {% endfor %}#}
        {##}
        {#                            </div>#}
        {#                        </dl>#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>
{% endblock %}