{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">New model</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
            </div>
        </div>
        <div class="ibox-body" style="">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                        <div class="form-group row {% if field.errors %}has-error{% endif %}">
                            <div class="col-sm-2 col-form-label">
                                {{ field.errors }}
                                {{ field.label_tag }}
                            </div>
                            <div class="col-sm-10">
                                {% render_field field class="form-control" %}
                            </div>
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label">
                    </div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-info">submit</button>
                    </div>
                </div>


        </div>
    </div>



{% endblock %}