<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Smartmobile</title>
    <!-- GLOBAL MAINLY STYLES-->
    {% load static %}
    {#    <link type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet"/>#}

    <link href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}" rel="stylesheet"/>
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->
    <link href="{% static 'assets/css/main.min.css' %}" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
<div class="page-wrapper">
    <!-- START HEADER-->
    <header class="header">
        <div class="page-brand">
            <a class="link" href="index.html">
                    <span class="brand">SMART
                        <span class="brand-tip">MOBILE</span>
                    </span>
                <span class="brand-mini">SM</span>
            </a>
        </div>
        <div class="flexbox flex-1">
            <!-- START TOP-LEFT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li>
                    <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                </li>
            </ul>
            <!-- END TOP-LEFT TOOLBAR-->
            <!-- START TOP-RIGHT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li class="dropdown dropdown-inbox">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                        <span class="badge badge-primary envelope-badge">0</span>
                    </a>
                </li>
                <li class="dropdown dropdown-notification">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span
                            class="notify-signal"></span></i></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <img src="{% static 'assets/img/admin-avatar.png' %}"/>
                            <span></span>{{ request.user.username }}<i class="fa fa-angle-down m-l-5"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'profile' request.user.profile.id %}"><i
                                    class="fa fa-user"></i>Profile</a>
                            <li class="dropdown-divider"></li>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                {% else %}
                {% endif %}

            </ul>
            <!-- END TOP-RIGHT TOOLBAR-->
        </div>
    </header>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <nav class="page-sidebar" id="sidebar">
        <div id="sidebar-collapse">
            {% if request.user.is_authenticated %}

                <div class="admin-block d-flex">
                    <div>
                        <img src="{% static 'assets/img/admin-avatar.png' %}" width="45px"/>
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">{{ request.user.username }}</div>
                        <small>{{ request.user.username }}</small>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <ul class="side-menu metismenu">
                <li>
                    <a class="active" href="{% url 'dashboard' %}">
                        <i class="sidebar-item-icon fa fa-table"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>
                <li class="heading">
                    {% if request.user.is_authenticated %}
                        FEATURES
                    {% else %}
                        WELCOME
                    {% endif %}
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="active" href="{% url 'tf_model:index' %}">
                            <i class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Models</span>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="{% url 'dataset:index' %}"><i
                                class="sidebar-item-icon fa fa-tasks"></i>
                            <span class="nav-label">Datasets</span>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="{% url 'project:index' %}">
                            <i class="sidebar-item-icon fa fa-tablet"></i>
                            <span class="nav-label">Projects</span>
                        </a>
                    </li>
                {% else %}
                {% endif %}

            </ul>
        </div>
    </nav>
    <!-- END SIDEBAR-->
    <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div id="content" class="page-content fade-in-up">
            {% block content %}{% endblock %}
            <div class="row">
                <!--                    <div class="col-lg-3 col-md-6">-->
                <!--                        <div class="ibox bg-success color-white widget-stat">-->
                <!--                            <div class="ibox-body">-->
                <!--                                <h2 class="m-b-5 font-strong">201</h2>-->
                <!--                                <div class="m-b-5">NEW ORDERS</div><i class="ti-shopping-cart widget-stat-icon"></i>-->
                <!--                                <div><i class="fa fa-level-up m-r-5"></i><small>25% higher</small></div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
        <footer class="page-footer">
            <div class="font-13">2020 © <b>Smartmobile</b> - All rights reserved.</div>
            <!--                <a class="px-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">BUY PREMIUM</a>-->
            <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </div>
</div>
<!-- BEGIN THEME CONFIG PANEL-->
<!--    <div class="theme-config">-->
<!--        <div class="theme-config-toggle"><i class="fa fa-cog theme-config-show"></i><i class="ti-close theme-config-close"></i></div>-->
<!--        <div class="theme-config-box">-->
<!--            <div class="text-center font-18 m-b-20">SETTINGS</div>-->
<!--            <div class="font-strong">LAYOUT OPTIONS</div>-->
<!--            <div class="check-list m-b-20 m-t-10">-->
<!--                <label class="ui-checkbox ui-checkbox-gray">-->
<!--                    <input id="_fixedNavbar" type="checkbox" checked>-->
<!--                    <span class="input-span"></span>Fixed navbar</label>-->
<!--                <label class="ui-checkbox ui-checkbox-gray">-->
<!--                    <input id="_fixedlayout" type="checkbox">-->
<!--                    <span class="input-span"></span>Fixed layout</label>-->
<!--                <label class="ui-checkbox ui-checkbox-gray">-->
<!--                    <input class="js-sidebar-toggler" type="checkbox">-->
<!--                    <span class="input-span"></span>Collapse sidebar</label>-->
<!--            </div>-->
<!--            <div class="font-strong">LAYOUT STYLE</div>-->
<!--            <div class="m-t-10">-->
<!--                <label class="ui-radio ui-radio-gray m-r-10">-->
<!--                    <input type="radio" name="layout-style" value="" checked="">-->
<!--                    <span class="input-span"></span>Fluid</label>-->
<!--                <label class="ui-radio ui-radio-gray">-->
<!--                    <input type="radio" name="layout-style" value="1">-->
<!--                    <span class="input-span"></span>Boxed</label>-->
<!--            </div>-->
<!--            <div class="m-t-10 m-b-10 font-strong">THEME COLORS</div>-->
<!--            <div class="d-flex m-b-20">-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Default">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="default" checked="">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-white"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Blue">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="blue">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-blue"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Green">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="green">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-green"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Purple">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="purple">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-purple"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Orange">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="orange">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-orange"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Pink">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="pink">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-pink"></div>-->
<!--                        <div class="color-small bg-ebony"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="White">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="white">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Blue light">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="blue-light">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-blue"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Green light">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="green-light">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-green"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Purple light">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="purple-light">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-purple"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Orange light">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="orange-light">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-orange"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="color-skin-box" data-toggle="tooltip" data-original-title="Pink light">-->
<!--                    <label>-->
<!--                        <input type="radio" name="setting-theme" value="pink-light">-->
<!--                        <span class="color-check-icon"><i class="fa fa-check"></i></span>-->
<!--                        <div class="color bg-pink"></div>-->
<!--                        <div class="color-small bg-silver-100"></div>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- END THEME CONFIG PANEL-->
<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
/.../crmeasy/crmapp/templates
<!-- END PAGA BACKDROPS-->
<!-- CORE PLUGINS-->
<script src="{% static 'assets/vendors/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendors/popper.js/dist/umd/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendors/metisMenu/dist/metisMenu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>


{#    <script src="./assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>#}
<!-- PAGE LEVEL PLUGINS-->
{#    <script src="./assets/vendors/chart.js/dist/Chart.min.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/jvectormap/jquery-jvectormap-2.0.3.min.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>#}
{#    <script src="./assets/vendors/jvectormap/jquery-jvectormap-us-aea-en.js" type="text/javascript"></script>#}
<!-- CORE SCRIPTS-->
<script src="{% static 'assets/js/app.min.js' %}" type="text/javascript"></script>
{#    <script src="assets/js/app.min.js" type="text/javascript"></script>#}
<!-- PAGE LEVEL SCRIPTS-->
</body>

</html>