{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <h3 class="round3" style="text-align:center;">Project details:</h3>
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>

        <div class="ibox">
            <div class="card-header">
                <h5 class="card-title"> #{{ object.id }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{ object.name }}</dd>
                    <dt class="col-sm-3">Details</dt>
                    <dd class="col-sm-9">{{ object.details }}</dd>
                </dl>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-head">
                <div class="w-60">
                    <span class="ibox-title">Models:</span>
                </div>
                <div class="ibox-tools w-10">
                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                {% for model in object.tf_models.all %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"> {{ model.name }}
                                <a href="{% url 'tf_model:detail' model.pk %}">
                                    <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip"
                                            data-original-title="Show"><i class="fa fa-eye font-14"></i></button>
                                </a>
                            </h5>
                        </div>

                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">Details:</dt>
                                <dd class="col-sm-9">{{ model.details }}</dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <br>
    </div>
{% endblock %}