{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="ibox">
            <div class="ibox-head">
                {#                    <div class="ibox-title">#}
                <div class="w-75">
                    <span class="ibox-title">Projects</span>
                </div>
                <div class="w-25 text-right">
                    <a href="{% url 'project:new' %}">
                        <button type="button" class="btn btn-success">
                            Add
                        </button>
                    </a>
                </div>
                {#                    </div>#}
            </div>
            <div class="ibox-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    {{ project.name }}
                                </td>
                                <td>
                                    {{ project.created }}

                                </td>
                                <td>
                                    {{ project.type }}
                                </td>
                                <td>
                                    <a href="{% url 'project:detail' project.pk %}">
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip"
                                                data-original-title="Show"><i class="fa fa-eye font-14"></i></button>
                                    </a>
                                    <a href="{% url 'project:edit' project.pk %}">
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip"
                                                data-original-title="Edit"><i class="fa fa-pencil font-14"></i></button>
                                    </a>
                                    <a href="{% url 'project:delete' project.pk %}">
                                        <button class="btn btn-default btn-xs" data-toggle="tooltip"
                                                data-original-title="Delete"><i class="fa fa-trash font-14"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}